<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <h1 class="text-center main-heading">About Us</h1>
      <p class="text-center sub-heading">Grow your business with us</p>
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div class="col-md-6 col-12 hero-text">
            <figure>
              <img src="images/about.svg" alt="Hero Section Image">
            </figure>
          </div>
          {{!-- right side --}}
          <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-left flex-column">
            <h1>WE ARE THE PROFESSIONAL DEVELOPERS!</h1>
            <P>We are <span class="bold-style">Software
              Development</span>Company is a group of highly talented designers, developers, quality checkers motivated by a
              deep appreciation for building elegant & functional applications that solve complex problems with
              requirements of our beloved customers</P>
            <button class="btn-primary btn-style">Read More</button>
          </div>

        </div>
      </div>
    </div>
  </div>